    :root {
      --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    }
    body {
      margin: 60px;
      font-family: var(--font-sans);
      background-color: #0d1117; /* Fondo oscuro de GitHub */
      color: #e6edf3; /* Texto principal */
    }
    
    .github-container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
    }
    /* Ajustes para bloques de código (como en GitHub) */
    .markdown-body pre {
      background-color: #161b22 !important;
      border-radius: 6px;
      padding: 16px;
    }
    .btn {
      font-family: var(--font-sans);
      
    }
    

    .foto_perfil { 
      display:block;
      margin:auto;
      margin-top: 50px;
      margin-bottom: 10px;
      border-radius: 100px;
      height: 200px;
      width: 200px;
      justify-content: center;

    }
    
    h1, h2, h3, h4{

      text-align: center;
    }

       .contenedor-enlaces {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    width: 100%;
    max-width: 800px; /* Ajusta según necesidad */
    margin: 0 auto; /* Centra el contenedor */
    padding: 10px;
  }

    ul {
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      list-style: none;
      padding: 0;
      gap: 20px; /* Espacio entre elementos */
    }
       ul li:nth-child(1) {
      color: #2965f1; /* CSS */
    }

    ul li:nth-child(2) {
      color: #e34c26; /* HTML */
    }

    ul li:nth-child(3) {
      color: #f7df1e; /* JavaScript */
    }

    ul li:nth-child(4) {
      color: #3776ab; /* Python */
    }
    
     .github {
    display: block; /* Convierte el enlace en bloque */
    width: fit-content; /* Ajusta el ancho al contenido */
    margin: 0 auto;     /* Centra horizontalmente */
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
  }
